{{template "base" .}}

{{define "content"}}
<h1>Get yourself a ViWallet</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem molestias in quaerat sunt voluptatibus!
     Nostrum explicabo sed commodi nobis tempore?
     Eligendi sapiente impedit dignissimos hic placeat! Repudiandae eligendi laboriosam explicabo?
    </p>
{{end}}

{{define "js"}}
{{end}}
